@import '../../shared/variables.scss';

.product {
  padding: 48px 0 $column-gap-large;
  position: relative;
}

.breadcrumbWrap {
  align-items: center;
  display: flex;
  height: 48px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
