@import '../../shared/variables.scss';

.breadcrumb {
  display: block;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbItem {
  color: $gray;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;

  &:after {
    content: '›';
    margin: 0 8px;
  }

  &:last-child {
    font-weight: 600;
  }

  &:last-child:after {
    content: '';
    display: none;
  }
}
