@import '../../variables.scss';

.breadcrumb {
  display: block;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbItem {
  color: $gray;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

.breadcrumbItem:after {
  content: '›';
  margin: 0 8px;
}

.breadcrumbItem:last-child {
  font-weight: 600;
}

.breadcrumbItem:last-child:after {
  content: '';
  display: none;
}
