@import '../../../variables.scss';

.productListItem {
  color: $gray_dark;
  display: flex;
  text-decoration: none;
  width: 100%;
}

.productListItem:hover {
  cursor: pointer;
}

.image {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-shrink: 0;
  height: 180px;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  width: 180px;
}

.image img {
  max-height: 100%;
  max-width: 100%;
}

.description {
  flex-grow: 1;
  padding-left: $column-gap;
  padding-right: (calculateWidth(2) + $column-gap);
  position: relative;
}

.price {
  align-items: center;
  display: flex;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin: $column-gap 0 ($column-gap-large - 4px);
}

.priceCurrency {
  margin-right: 8px;
}

.priceDecimals {
  align-self: flex-start;
  font-size: 12px;
  line-height: 20px;
  margin-left: 2px;
}

.priceIcon {
  height: 18px;
  margin-left: 8px;
  width: 18px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.state {
  font-size: 12px;
  line-height: 16px;
  margin: 8px 0 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: left;
  text-overflow: ellipsis;
  top: $column-gap;
  white-space: nowrap;
  width: calculateWidth(2);
}
