@import '../../shared/variables.scss';

.header {
  background-color: $meli-main;
  flex-shrink: 0;
  height: 56px;
}

.headerWrapper {
  align-items: center;
  display: flex;
  height: 100%;
}

.logoWrapper {
  flex-basis: calculateWidth(1);
}
